@import url("https://fonts.googleapis.com/css?family=Nunito");
body {
  font-family: "Nunito", sans-serif;
}

.fadeIn{
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

.nav-item {
  background: white;
  margin: 0 5px 0 5px;
  border-radius: 5px;
}

.navbar h1 {
  color: white;
  margin-right: 15px;
}

.jumbotron {
  margin-bottom: 0px;
  position:relative;
}

.jumbotron.title {
  padding: 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dceced+0,fefefe+100 */
  background: rgb(220, 236, 237); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(220, 236, 237, 1) 0%,
    rgba(254, 254, 254, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(220, 236, 237, 1) 0%,
    rgba(254, 254, 254, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(220, 236, 237, 1) 0%,
    rgba(254, 254, 254, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#dceced",
      endColorstr="#fefefe",
      GradientType=0
    ); /* IE6-9 */
}

.jumbotron.title h1,
h2,
h3 {
  margin: 0;
}

.info {
  border-bottom: 3px solid #7da752;
  background: #dbf3c2;
  padding: 8px;
  margin: 20px 0;
}

.info.error {
  border-bottom: 3px solid red;
  background: lightgray;
  padding: 8px;
  margin: 20px 0;
  background: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 10px,
    #eeeeee 10px,
    #eeeeee 20px
  );
}

.category .card.active {
  border: 1px solid #28a745;
  color: #28a745;
  border-bottom: 4px solid #28a745;
}

.category .card {
  background: ffffff;
  text-decoration: none;
  border: 1px solid gray;
  border-bottom: 4px solid gray;
  height: 80px;
  margin-bottom: 30px;
}
.card {
  height: 120px;
  cursor: pointer;
  color: darkblue;
  border: none;
  border: 1px solid #28a745;
  border-bottom: 4px solid #28a745;
  border-radius: 0;
  margin-bottom: 30px;
}

.card,
.tile a:hover {
  text-decoration: none;
}

.card:active {
  background-color: #28a745;
  color: white;
  border-color: white;
}

.card:active .item-category {
  background: white;
  color: #28a745;
}

.card-body {
  padding: 5px;
  text-align: center;
}

.statement li {
  list-style: none;
}

.item-price {
  float: right;
}

.item-category {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px;
  border-radius: 0;
  text-align: left;
  width: 100%;
}

.member.frozen {
  opacity: 0.5;
  background: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 10px,
    #dddddd 10px,
    #dddddd 20px
  );
}

.member.card a {
  height: 100%;
}

.scanner {
  padding: 5px;
  position: absolute;
  right:0;
  top:0;
}

.balance .positive {
}

.balance .negative {
  color: red;
}

.return-home {
  margin: 30px 0;
}

.timer {
  background: white;
  height: 20px; /* Height and width */
  width: 100%; /* Height and width */
  border-radius:10px;
  overflow: hidden;
  position:relative;
  margin-top:100px;

}
.timer .mask {
  height: 100%;
  width: 100%;
  -webkit-animation: mask 5s infinite linear;
  -webkit-transform-origin: 100% 100%;
  background:#ccc;
  border-radius:10px;
  box-shadow: inset 0px 0px 9px 5px #fff;
}

@keyframes mask {
  0% {
    width:0;
    -webkit-transition: width 0px 2s; 
  }
  100% {
    -webkit-transition: width 100px 2s; 
  }
}
