@import url('https://fonts.googleapis.com/css?family=Nunito');
body{
    font-family: 'Nunito', sans-serif;
}

.nav-item{
    background:white;
    margin: 0 5px 0 5px;
    border-radius:5px;
}

.navbar h1{
    color:white;
    margin-right:15px;
}

.jumbotron{
    margin-bottom:20px;
}

.jumbotron.title{
    padding:10px;
}

.jumbotron.title h1,h2,h3{
    margin:0
}

.info{
    border-bottom: 3px solid #7da752;
    background: #dbf3c2;
    padding:8px;
    margin:20px 0;
}

.info.error{
    border-bottom:3px solid red; 
    background: lightgray;  
    padding:8px;
    margin:20px 0;
    background: repeating-linear-gradient(
        45deg,
        #ffffff,
        #ffffff 10px,
        #eeeeee 10px,
        #eeeeee 20px
      );  

}

.category .card.active {
    border:1px solid #28a745;  
    color: #28a745; 
    border-bottom:4px solid #28a745;
}

.category .card{
    background:ffffff; 
    text-decoration: none;
    border:1px solid gray;  
    border-bottom:4px solid gray;
    height: 80px;
    margin-bottom: 30px;
}
.card{
    height: 120px;
    cursor: pointer;
    color:darkblue;
    border:none;
    border:1px solid #28a745;   
    border-bottom:4px solid #28a745; 
    border-radius: 0; 
}

.card,.tile a:hover{
    text-decoration: none;
}

.card:active{
    background-color:#28a745; 
    color:white;
    border-color: white;
}


.card:active .item-price{
    background:white;
    color:#28a745; 
}

.statement li{
    list-style: none;
}

.item-price{
    position: absolute;
    bottom: 0;
    right: 0;
    padding:8px;
    border-radius: 8px 0 0 0;
}

.member.frozen{
    opacity:0.5;
    background: repeating-linear-gradient(
        45deg,
        #ffffff,
        #ffffff 10px,
        #dddddd 10px,
        #dddddd 20px
      );    
}

.scanner{
    padding:20px;
    background:#eee;
    margin-top:40px;
}

.balance .positive{

}

.balance .negative{
    color:red;
}