@import url('https://fonts.googleapis.com/css?family=Nunito');
body{
    font-family: 'Nunito', sans-serif;
}


.nav-item{
    background:white;
    margin: 0 5px 0 5px;
    border-radius:5px;
}

.navbar h1{
    color:white;
    margin-right:15px;
}

.jumbotron.title{
    padding:10px;
}

.jumbotron.title h1,h2,h3{
    margin:0
}

.info{
    border-left:3px solid green;
    padding:8px;
    margin-bottom:20px;
}

.info:before{
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;

}

.category .active .card{
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.3);
    background: #c3e6ea;
}
.category .card{
    background:#CBEFF4; 
    text-decoration: none;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.3);
}
.card{
    background:#feffd0; 
    height: 120px;
    cursor: pointer;
    color:darkblue;
}

.tile{
    padding: 0 15px 15px 0;
}

.statement li{
    list-style: none;
}

.item-price{
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 4px 0px;
}